.container {
  width: 100%;
  min-width: 20em;
  margin: 0 auto;
  padding: 40px 20px;

  border-radius: 10px;
  background-color: $color-default-white;

  @include vp-768 {
    padding: 32px 120px;
  }

  @include vp-1024 {
    padding: 40px;
    border-radius: 20px;
  }
}
