@mixin retina {
  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    @content;
  }
}

@mixin hover {
  @media (hover: hover) {
    &:hover:not(.focus-visible) {
      @content;
    }
  }
}

@mixin focus {
  &.focus-visible:focus {
    @content;
  }
}

@mixin active {
  &.focus-visible:active {
    @content;
  }
}

@mixin hover-focus {
  @media (hover: hover) {
    &:hover:not(.focus-visible) {
      @content;
    }
  }

  &.focus-visible:focus {
    @content;
  }
}

// Mobile first

@mixin vp-320 {
  @media (min-width: $vp-320) {
    @content;
  }
}

@mixin vp-360 {
  @media (min-width: $vp-360) {
    @content;
  }
}

@mixin vp-768 {
  @media (min-width: $vp-768) {
    @content;
  }
}

@mixin vp-1024 {
  @media (min-width: $vp-1024) {
    @content;
  }
}

@mixin vp-1280 {
  @media (min-width: $vp-1280) {
    @content;
  }
}

// fonts

@mixin Graphik400 {
  font-family: $ff-graphik;
  font-style: normal;
  font-weight: 400;
}

@mixin Graphik500 {
  font-family: $ff-graphik;
  font-style: normal;
  font-weight: 500;
}

@mixin Graphik600 {
  font-family: $ff-graphik;
  font-style: normal;
  font-weight: 600;
}

@mixin Graphik700 {
  font-family: $ff-graphik;
  font-style: normal;
  font-weight: 700;
}

// text

@mixin text600 {
  @include Graphik600;
  font-size: 2em;
  line-height: 133%;

  @include vp-1024 {
    font-size: 2.67em;
    line-height: 125%;
  }
}

@mixin subtitle {
  @include Graphik500;
  font-size: 1.5em;
  line-height: 133%;

  @include vp-1024 {
    font-size: 1.67em;
    line-height: 130%;
  }
}
// ---------------------------------

// не нужно добавлять свои миксины для ресета списков, обнуления кнопок и прочие
// этим вы усложняете работу команды, проверку вашего кода и будущую поддержку проекта
