// Colors
// ---------------------------------

// Default

$color-default-black:               #000000;
$color-default-white:               #ffffff;

// Project palette

// text

$color-secondary:                   #6b6b6b;
$color-addition:                    #a6a4a0;
$color-disable:                     #c3c2be;

// bg

$color-bg-secondary:                #f7f7f5;
$color-bg-secondary-accent:         #edecea;

// Accent

$color-brand:                       #3d3bff;
$color-sale:                        #fff705;
$color-danger:                      #ff5733;
$color-danger-bg:                   #ffcdc2;

// Admin

$color-variable:                    #dcf4fe;

// Typography
// ---------------------------------

// переменная используемая в html для подключения скейлинга
$fz-default:                        12px;

// у некоторых шрифтов в ios возникают проблемы с символом рубля
// https://www.artlebedev.ru/kovodstvo/sections/159/#13
$ff-rouble:                         "Rouble", "Arial", sans-serif;

$ff-graphik:                        "GraphikLCTT", "Arial", sans-serif;

// Viewports
// ---------------------------------

$vp-320:                            20em;
$vp-360:                            22.5em;
$vp-768:                            48em;
$vp-1024:                           64em;
$vp-1280:                           80em;

// Retina
// ---------------------------------

$retina-dpi:                        144dpi;
$retina-dppx:                       1.5dppx;
